#kittwrapper {
  margin-bottom: 40px;
}

#kitt {
  display: block;
  text-align: center;
  position: fixed;
  top: 80px;
  bottom: 5px;
  left: 50%;
  right: 50%;
  width: 1240px;
  height: 40px;
  margin: -65px 20px 1px -620px;

}
.block_1, .block_2, .block_3, .block_4, .block_5, .block_6, .block_7, .block_8, .block_9, .block_10 {
  width: 120px;
  height: 60px;
  background: black;
  margin: 0;
  display: inline-block;
  -webkit-box-shadow: 0 0 30px red, inset 0 0 5px rgba(255,255,255, 0.5);
  border-radius: 5px;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}



