<div style="display: block;">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="mainMenu" [color]="'primary'">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #mainMenu="matMenu">
      <button [routerLink]="['search']" mat-menu-item>
        <mat-icon>search</mat-icon>
        <span>Search translations</span>
      </button>
      <button [routerLink]="['add']" mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span>Add translation</span>
      </button>
      <button [routerLink]="['view']" mat-menu-item>
        <mat-icon>pageview</mat-icon>
        <span>View by country</span>
      </button>
    </mat-menu>

    <span>Welcome to Pelican, the world of languages</span>

    <span class="example-spacer"></span>

    <button>
      <img (click)="showSpinnerExample()" src="assets/knightRider.jpg" alt="image" style="width: 40px; height: 40px;">
    </button>

  </mat-toolbar>
</div>


